<router-outlet></router-outlet>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2 class="titulo">Educação Financeira</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 card-titulo">
      <h5 class="texto-titulo">
        Conceito relativo aos direitos e deveres do cidadão quando o assunto é sua vida financeira. Para o BACEN a
        educação, proteção e inclusão financeira contribuem para a cidadania financeira e também para o SFN (Sistema
        Financeira Nacional), bem como, para a manutenção e estabilidade ecônomica do Brasil.
      </h5>
    </div>
  </div>
  <div class="conteudo">
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="card-conteudo">
          <img src="assets/img/educacao-financeira.png" class="img-texto">
          <div class="conteudo-texto">
            <p>
              Elaboração de um site (Cidadania Financeira) para abordar o assunto de educação financeira. Para acessar,
              clique <a href="https://www.bcb.gov.br/cidadaniafinanceira" target="_blank">aqui</a>.
            </p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card-conteudo">
          <img src="assets/img/o-que-e-eduacao.png" class="img-texto">
          <div class="conteudo-texto">
            <p>
              O que é Cidadania Financeira? O exercício de direitos e deveres que permite o cidadão gerenciar bem seus
              recursos financeiros.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
