<router-outlet></router-outlet>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="titulo">Educação Financeira</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 card-titulo">
            <h5 class="texto-titulo">
                Alterar
            </h5>
        </div>
    </div>
    <div class="conteudo">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="card-conteudo">
                    <img src="assets/img/transferencia.png" class="img-texto">
                    <div class="conteudo-texto">
                        <p>
                            Será o fim dos tradicionais meios de pagamento? TED, DOC e Boleto
                            Bancário?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card-conteudo">
                    <img src="assets/img/pix.png" class="img-texto">
                    <div class="conteudo-texto">
                        <p>
                            Pagamento simplificado através de chaves (Telefone, CPF/CNPJ, E-mail ou
                            chave aleatória)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>