<div class="container-fluid">
  <div class="row">
    <div class="col-5">
      <div class="row">
        <div class="col-12">
          <h2>OPEN BANKING</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h6>Entenda porque ele pode trazer mais autonomia 
          para os clientes e aumentar a oferta de produtos 
          e serviços.</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button type="button" class="btn btn-light" (click)="redirecionarParaOpenBanking()">Quero conhecer</button>
        </div>
      </div>
      <div class="row">
        <img class="home-baixo" src="assets/img/home-baixo.png"/>
      </div>
      
    </div>
    <div class="col-7">
      <img class="home-cima" src="assets/img/home-cima.png"/>
      <img class="home-grafico" src="assets/img/home-grafico.png"/>
    </div>
  </div>


</div>