.container-fluid > .row > .col-5{
  padding-left: 8rem;
}

.home-cima{
  width: 40%;
  height: auto;
  position: absolute;
  right: 0;
  top: -10rem;
}

.home-baixo{
  position: absolute;
  top: 20rem;
  left: -5rem;
  width: 40%;
  height: auto;
}

.home-grafico{
  position: absolute;
  width: 70%;
  height: auto;
  top: 69%;
  right: 50%;
}

h2{
  font-family: Domine;
  font-size: 5rem;
  line-height: 110%;
}

h6{
  font-family: Open Sans;
  font-size: 2rem;
}

.btn-light{
  background: #FFFFFF;
  border: 1px solid #14213D;
  box-sizing: border-box;
  border-radius: 30px;
  color: #14213D;
  font-family: Open Sans;
  font-size: 1rem;
  height: 4rem;
  width: 15rem;
}

.row{
  margin-top: 2rem;
}
