<router-outlet></router-outlet>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="titulo">PIX</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 card-titulo">
            <h5 class="texto-titulo">
                O PIX é o novo meio ed pagamento criado pelo BACEN para transferências de forma rápida e segura. Toda
                transferência irá acontecer em apenas 10 segundos, ou seja, chega de esperar minutos, horas e dias úteis
                para realizar os eu pagamento. O sistema funcionará 24 horas por dia, 7 dias da semana e 365 dias do
                ano.
            </h5>
        </div>
    </div>
    <div class="conteudo">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="card-conteudo">
                    <img src="assets/img/transferencia.png" class="img-texto">
                    <div class="conteudo-texto">
                        <p>
                            Será o fim dos tradicionais meios de pagamento? TED, DOC e Boleto
                            Bancário?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card-conteudo">
                    <img src="assets/img/pix.png" class="img-texto">
                    <div class="conteudo-texto">
                        <p>
                            Pagamento simplificado através de chaves (Telefone, CPF/CNPJ, E-mail ou
                            chave aleatória)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>